
.first{
    background-color:rgb(23, 47, 83);  
}
.second{
    margin-top: 8px;
}
.third{
    margin-left: 30px;
}
.img1{
    
    width: 85px;
}
.img2{
margin-top: 8rem;
}
.heading{
  margin-top: 8.5rem;  
}
.btn1{
    background-color: #196ea4!important;
}

